.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #001F3F; /* gris foncé */
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  